main.acn
main.aux
main.bbl
main.blg
main.fdb_latexmk
main.fls
main.glo
main.toc
main.thm
main.synctex.gz
main.out
main.lot
main.log
main.lof
main.ist
mainmatter/.DS_Store
mainmatter/.DS_Store
mainmatter/3-Methodology/.DS_Store
mainmatter/.DS_Store
Archive.zip
main.bcf
main.run.xml
